# Core Frameworks
langchain>=0.2.0
llamainindex>=0.10.0
pydantic-settings>=2.2.0

# User Interface
gradio>=4.0.0

# Vector Databases
chromadb>=0.5.0

# Utilities
python-dotenv>=1.0.1
requests>=2.31.0
